/* CSS for product display */
#data-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
  }
img{
    width:100px;
    height:200px;
}  